@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root{
    --primary-color:  #37343c;
    --on-background: rgba(16, 208, 214, 0.849) ;
    --secondary-color: #060508;
}

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #37343c;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%231ed8bf' fill-opacity='0.56' fill-rule='evenodd'/%3E%3C/svg%3E");
    
}
.modal-container{
    background-color: rgba(0, 0, 0, 0.521);
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.show-modal{
    animation: modalopen 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    background-color: rgba(255, 255, 255, 0);
    min-height : 240px;
    width: 75%;
    border-radius: 7px;
}
.name{
    background-color: var(--on-background);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.heading{
    margin: 0;
    padding: 12px;
}
#close-note{
    color: white;
    margin-top: 15px;
}
#form{
    width: 100%;
}
.formInput{
    width: 100%;
    display: flex;
    flex-direction: column;
}

textarea{
    background-color: var(--primary-color);
    outline: none;
    color: white;
    max-width: 100%;
    max-height: 80%;
    font-size: 34px;
}


.saveBtnCont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-top: 6px;
}
#saveBtn{
    border: none;
    background-color: var(--on-background);
    color: var(--secondary-color);
    font-weight: bold;
    border-radius: 6px;
    height: 30px;
    width: 85%;
}
.all-notes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#button-container{
    display: flex;
    justify-content: center;
}
#add-note{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    border: none;
    border-radius: 8px;
    background-color: var(--on-background);
    color:var(--primary-color);
    font-size: 24px;
    letter-spacing: 2px;
}
.container{
    margin-top: 30px;
    background: var(--on-background);
    width: 70%;
    border-bottom-right-radius: 90px;
    height: fit-content;
    
}
.fa-marker{
    font-size: 18px;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-marker:hover{
    cursor: pointer;
}
.fa-times{
    z-index: 10;
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}
.fa-times:hover{
    cursor: pointer;
}
#inside-text{
    margin-top: 15px;
    color: var(--secondary-color);
    padding: 5px;
    height: auto;
}

button:hover{
    cursor: pointer;
    filter: brightness(150%);
}
button:active{
    transform: scale(0.95);
}

@keyframes modalopen {
    from{
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}